/* Put styling there that applies to more than one page. */
#Ziggy, #Glint, #Valnos{
float:right;
}
#Glint {
	background-image: url(/Rooms/Images/01b.png);
	height: 100px;
	width: 100px;
	cursor: pointer;
	position: relative;
	text-align: center;
}

#Ziggy {
	background-image: url(/Rooms/Images/01b.png);
	height: 96px;
	width: 96px;
	cursor: pointer;
	position: relative;
	text-align: center;
}
#Valnos {
	background-image: url(/Rooms/Images/Valnosface3.png);
	height: 280px;
	width: 200px;
	cursor: pointer;
	position: relative;
	text-align: center;
}
#Ziggy:disabled {
	background-position: 96px 0px
}
/* If you want text inside shit */
#Glint span {
	position: absolute;
	bottom: -20px;
	
}
.face1 {
	background-position: 0px 0px;
}
.face2 {
	background-position: 96px 96px;
}