/* Put styling there that applies to more than one page. */
#Valnos, #Ziggy, #Glint{
float:right;
}

#ValnosThumb, #ZiggyThumb, #GlintThumb{
float:right;
}
#ValnosThumb {
	background-image: url(/Rooms/Images/Valnosface.png);
	height: 50px;
	width: 200px;	
}


#Valnos {
	background-image: url(/Rooms/Images/Valnosface5.png);
	height: 286px;
	width: 200px;
	cursor: pointer;
	position: relative;
	text-align: center;
	bottom: 200px;
	border: 6px solid #996633;
	border-radius: 10px;
}
#Glint {
	background-image: url(/Rooms/Images/GlintFace2.png);
	height: 286px;
	width: 200px;
	cursor: pointer;
	position: relative;
	text-align: center;
	bottom: 200px;
	border: 6px solid #996633;
	border-radius: 10px;
}

#Ziggy {
	background-image: url(/Rooms/Images/ZiggyFace1.png);
	height: 286px;
	width: 200px;
	cursor: pointer;
	position: relative;
	text-align: center;
	bottom: 200px;
	border: 6px solid #996633;
	border-radius: 10px;
}
img {
	margin-left: 40px;
	margin-bottom: 100px;
	float: left;
	bottom: 10%;
	border: 6px solid #331a00;
	
	border-radius: 20px;
}
html {

background-color: #331a00;
}

#html {

background-color: #331a00;
}

#tail .btn {
	top: 25px;
	left: 40px;
	position: relative;
	
}
#head {
	background-color: #996633;
	border: 6px solid #331a00;
	position: fixed;
	z-index: 99;
	border-radius: 20px;
	border-bottom: none;
	width: 100%;
	text-align: center;
	

 color: white;
}
#head .scores {
	text-align: justify;
	
}
#lore {
top: 20px;
right: 40px;	
position: absolute;
}
#tail {

	background-color: #996633;
	border: 6px solid #331a00;
	border-top: none;
	border-radius: 20px;
	
	position: fixed;
    bottom: 0px;

	clear: both;
	width: 100%;
	height: 10%;
	
}

#story-text {
	background-image: url("Rooms/Images/Paper.jpg");
	background-size: cover;
	float: left;
	border: 6px solid grey;
	font-size: 130%;
	position: relative;
	clear: both;
	margin-bottom: 10%;
	margin-left: 40px;
	margin-right: 150px;
	margin-top: 100px;
	padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 50px;
	text-align: justify;
	
}
#cadetbuttons {
	
}

/* 
#Ziggy:disabled {
	background-position: 200px 0px;
}
#Ziggy:'quest' {
	background-position: 200px 286px;
}
/* If you want text inside shit */
#Glint span {
	position: absolute;
	bottom: -20px;
	
}
.blush {
	background-position: 600px 0px; 
		
}
.angry {
	background-position: 400px 0px; 
}
.happy {
	background-position: 0px 572px;  
}
.concerned {
	background-position: 600px 572px; 
}
.sad {
	background-position: 400px 572px;  
}
.smug {
	background-position: 0px 286px; 
}
.suspicious {
	background-position: 600px 286px;
}
.surprised {
	background-position: 400px 286px;  
}
.neutral {
	background-position: 0px 0px; 
}
.disabled {
	background-position: 200px 0px;
}
.new {
	background-position: 200px 572px; 
	
}